---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout {'title', 'About Portfolio'}>
	<!-- portofolio -->
    <section id="menu" class="portofolio">
        <h2>Sarana Prasarana <span> dan </span>Hubungan Masyarakat</h2>

        <div class="table">
            <table class="table1">
                <tr>
                    <th>No</th>
                    <th>Uraian</th>
                    <th>Link</th>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 30px; font-family:inherit; text-shadow: 1px 1px 3px rgba(238, 10, 10, 0.5); ">
                        Sarana Prasarana</td>
                    <td></td>

                </tr>
                <tr>
                    <td>1</td>
                    <td>Ruang Kepala Sekolah</td>
                    <td><a href="datas/1.pdf" target="_blank">@lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ruang Guru</td>
                    <td><a href="../datas/2.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ruang Tata Usaha / Administrasi</td>
                    <td><a href="../../src/assets/datas/3.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ruang Tamu</td>
                    <td><a href="../../../../src/assets/datas/4.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Ruang Kegiatan Belajar / Ruang Kelas</td>
                    <td><a href="../../src/assets/data/5.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Ruang Perpustakaa</td>
                    <td><a href="../../src/assets/data/6.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Ruang UKS </td>
                    <td><a href="../../src/assets/data/7.pdf" target="_blank">@Lihat</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Ruang Komite</td>
                    <td><a href="../../src/assets/data/8.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Ruang Praktek Siswa</td>
                    <td><a href="../../src/assets/data/9.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Ruang Lab Komputer </td>
                    <td><a href="../../src/assets/data/10.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Tempat Ibadah / Mushola </td>
                    <td><a href="../../src/assets/data/11.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Lapangan Upacara </td>
                    <td><a href="../../src/assets/data/12.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Lapangan Olahraga </td>
                    <td><a href="../../src/assets/data/12.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Kamar Madi / WC Guru & Siswa </td>
                    <td><a href="../../src/assets/data/13.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Tempat Parkir Guru</td>
                    <td><a href="../../src/assets/data/14.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-size: 30px; font-family:inherit; text-shadow: 1px 1px 3px rgba(238, 10, 10, 0.5); ">
                        Hubungan Masyarakat</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Pengurus Komite Sekolah</td>
                    <td><a href="../../src/assets/data/1b.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td> SK Penetapan Pengurus Komite Sekolah</td>
                    <td><a href="../../src/assets/data/1b.pdf" target="_blank">@Lihat</a><br>

                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Program Kerja Komite Sekolah</td>
                    <td><a href="../../src/assets/data/2b.pdf" target="_blank">@Lihat</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Jadwal Kegiatan Komite Sekolah</td>
                    <td><a href="../../src/assets/data/4b.pdf" target="_blank">@Lihat</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Hubungan Sekolah Dengan Institusi Terkait </td>
                    <td><a href="../../src/assets/data/5b.pdf" target="_blank">@Lihat</a><br>
                        <a href="../../src/assets/data/5c.pdf" target="_blank">@Lihat</a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Hubungan Sekolah Dengan Masyarakat Sekitar</td>
                    <td><a href="../../src/assets/data/6b.pdf" target="_blank">@Lihat</a></td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Hubungan Kemitraan Dengan Sekolah Unggulan</td>
                    <td><a href="#" target="_blank">@BelumAda</a></td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Hubungan Kerjasama Dengan IDUKA</td>
                    <td><a href="#" target="_blank">@BelumAda</a> <br>

                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Hubungan Kerjasama Dengan Perguruan Tinggi</td>
                    <td><a href="#" target="_blank">@BelumAda</a> <br>

                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Hubungan Kerjasama Dengan Lembaga Pendidikan / Kursus</td>
                    <td><a href="../../src/assets/data/10b.pdf" target="_blank">@Lihat</a> <br>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</Layout>
